{% extends 'layout.html' %}

{% block body %}
	<h1> About US</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet augue eget elit convallis lacinia in eleifend libero. Vivamus pretium vulputate orci sit amet sodales. Phasellus porttitor odio in justo auctor, id blandit ex porta. Nulla ultrices molestie eleifend. Nam at congue massa, in dapibus quam. Proin diam felis, dapibus eget ornare nec, ultricies vitae ipsum. Nam et urna quis orci feugiat volutpat sed sit amet orci.</p>
{% endblock %}